
.card {
  padding: 2em;
}
h1{
  color:aliceblue;
  font-size: 2em;
  font-weight: 700;

}
App {
  max-width: 860px;
  margin: 40px auto;
}
button{
  background:none;
  border:2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight:bold;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}
button:hover{
  background: rgb(100, 39, 242);
  color: rgb(246, 240, 240);
}